<!DOCTYPE html>
<html lang="en">

<% include ../public/layouts/header.ejs %>
<body>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <div class="container-scroller">
  <% include ../public/layouts/navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
      <% include ../public/layouts/sidebar.ejs %>
      <div class="main-panel">
        <div class="content-wrapper">
        <form class="forms-sample" method="POST" action="/empresa/edit/<%= empresa.id_empresa %>">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card mx-auto">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Empresa</h4>
                  <% if (messages.error) { %>
                      <p id="result-message" style="color:red"><%- messages.error %></p>
                  <% } %>
                  <% if (messages.success) { %>
                      <p id="result-message" style="color:green"><%- messages.success %></p>
                  <% } %>
                  <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <div class="col-sm-12 row">
                            <input type="text" name="nombre" disabled class="form-control" id="nombre" placeholder="Nombre" value="<%= empresa.nombre %>"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="rnc">RNC</label>
                          <div class="col-sm-12 row">
                            <input type="text" name="rnc" disabled class="form-control" id="RNC" placeholder="RNC" value="<%= empresa.RNC %>"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="tipo-de-corte">Tipo de cierre</label>
                          <select class="form-control col-sm-11" id="tipo-de-corte" name="tipo-de-corte">
                            <option value="Semanal" <% if (empresa.tipo_de_cierre == 'Semanal') { %>selected<% } %> >Semanal</option>
                            <option value="Quincenal" <% if (empresa.tipo_de_cierre == 'Quincenal') { %>selected<% } %> >Quincenal</option>
                            <option value="Mensual" <% if (empresa.tipo_de_cierre == 'Mensual') { %>selected<% } %> >Mensual</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Dia de corte</label>
                          <div class="input-group col-sm-12 row">
                            <input type="text" id="datepicker" name="dia_de_corte" class="form-control datepicker" value="<%- empresa.dia_de_corte%>">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-group align-items-center">
                          <div class="form-check">
                            <%if (empresa.registrada) {%>
                            <label class="form-check-label" style="color: green">
                              <input name="registrada" type="checkbox" class="form-check-input" checked>
                              La empresa está aprobada. Presione para desaprobar.
                              <%} else {%>
                            <label class="form-check-label" style="color: red">
                              <input name="registrada" type="checkbox" class="form-check-input">
                              La empresa está desaprobada. Presione para aprobar.
                              <%}%>
                            <i class="input-helper"></i></label>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary btn-lg btn-block mr-2">Guardar cambios</button>
            </div>
            <div class="col-md-4"></div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/vendors/base/vendor.bundle.base.js"></script>
  <script src="/scripts/off-canvas.js"></script>
  <script src="/scripts/hoverable-collapse.js"></script>
  <script src="/scripts/template.js"></script>
  <script src="/scripts/todolist.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/scripts/edit_empresa.js"></script>
</body>

</html>