<!DOCTYPE html>
<html lang="en">

<% include ../public/layouts/header.ejs %>

<body>
    <div class="container-scroller">
        <% include ../public/layouts/navbar.ejs %>
        <div class="container-fluid page-body-wrapper">
            <% include ../public/layouts/sidebar.ejs %>
            <div class="main-panel">
                <div class="content-wrapper">
                    <form method="POST" action="/menu/edit/<%=menu.id_menu%>">
                        <div class="row">
                            <div class="col-12 grid-margin stretch-card mx-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Editar menú: <%-menu.nombre%></h4>
                                        <% if (messages.error) { %>
                                        <p id="result-message" style="color:red"><%- messages.error %></p>
                                        <% } else if (messages.success) { %>
                                        <p id="result-message" style="color:green"><%- messages.success %></p>
                                        <% } %>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="nombre">Nombre</label>
                                                    <div class="col-sm-12" style="padding-left: 0; padding-right: 0;"> 
                                                    <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre"
                                                        value="<%- menu.nombre %>" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><label></label></div>
                                            <div class="col-md-2-5">
                                                <div class="form-group">
                                                    <label for="categoria-item">Categoria</label>
                                                    <select onchange="updateSubcategorias()" class="form-control col-sm-10" id="categoria-cbx" name="categoria">
                                                        <option value="" selected>Todas</option>
                                                    <%categorias.forEach(cat => {%>
                                                        <option value="<%=cat.id_categoria%>"><%=cat.nombre%></option>
                                                    <%})%>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2-5">
                                                <div class="form-group">
                                                    <label for="subcategoria-item">Subcategoria</label>
                                                    <select onchange="updateList()" class="form-control col-sm-10" id="subcategoria-cbx" name="subcategoria">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label></label>
                                                    <select class="form-control col-sm-12" name="item-list" id="item-list" size="10" multiple="multiple">
                                                    <% if (items) {%>
                                                    <% items.forEach(item => {%>
                                                        <option title="<%-item.categoria%> <%-item.subcategoria%>" value="<%=item.id_item%>"><%-item.nombre%></option>
                                                    <%});%>
                                                    <%}%>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="template-demo mt-4 col-md-2 text-center">
                                                <div class="btn-group-vertical" role="group" style="padding: 0;">
                                                    <button id="all-menu-to-combo" type="button" class="btn btn-outline-secondary">
                                                        <i class="ti-angle-double-left"></i>
                                                    </button>
                                                    <button id="menu-to-combo" type="button" class="btn btn-outline-secondary">
                                                        <i class="ti-arrow-left"></i>
                                                    </button>
                                                    <button id="combo-to-menu" type="button" class="btn btn-outline-secondary">
                                                        <i class="ti-arrow-right"></i>
                                                    </button>
                                                    <button id="all-combo-to-menu" type="button" class="btn btn-outline-secondary">
                                                        <i class="ti-angle-double-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label></label>
                                                    <select class="form-control col-sm-12" name="menu-items" id="menu-list" size="10" multiple="multiple">
                                                    <% if (menuItems) {%>
                                                    <% menuItems.forEach(item => {%>
                                                        <option value="<%=item.id_item%>"><%-item.nombre%></option>
                                                    <%});%>
                                                    <%}%>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-group align-items-center">
                                                    <div class="form-check">
                                                        <%if (menu.activo) {%>
                                                        <label class="form-check-label" style="color: green">
                                                        <input id="activo" name="activo" type="checkbox" class="form-check-input" checked>
                                                        Desactivar
                                                        <%} else {%>
                                                        <label class="form-check-label" style="color: red">
                                                        <input id="activo" name="activo" type="checkbox" class="form-check-input">
                                                        Activar
                                                        <%}%>
                                                        <i class="input-helper"></i></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button id="save-menu" type="submit" class="btn btn-primary btn-lg btn-block mr-2">Guardar cambios</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const categorias = <%-JSON.stringify(categorias)%>;
        const subcategorias = <%-JSON.stringify(subcategorias)%>;
    </script>
    <script src="/vendors/base/vendor.bundle.base.js"></script>
    <script src="/scripts/off-canvas.js"></script>
    <script src="/scripts/hoverable-collapse.js"></script>
    <script src="/scripts/template.js"></script>
    <script src="/scripts/edit_menu.js"></script>
</body>

</html>