<!DOCTYPE html>
<html lang="en">

<% include ../public/layouts/header.ejs %>

<body>
  <div class="container-scroller">
  <% include ../public/layouts/navbar.ejs %>
  <div class="container-fluid page-body-wrapper">
    <% include ../public/layouts/sidebar.ejs %>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Editar plato del dia</h4>
                  <% if (data == '') { %>
                    <p id="result-message" style="color :red">No hay empresas con ese nombre</p>
                  <% } %>
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Dia</th>
                          <th>Arroz</th>
                          <th>Carne</th>
                          <th>Guarnición</th>
                          <th>Ensalada</th>
                        </tr>
                      </thead>
                      <tbody>
                       <% if (data !== '') { %>
                         <% data.forEach(function (plato) { %>
                              <tr>
                                <td>
                                    <% plato.dia %>
                                </td>
                                <td> 
                                    <select class="form-control col-sm-10" id="arroz-<%= plato.id_plato_del_dia %>" name="arroz-<%= plato.id_plato_del_dia %>">
                                        <% data.forEach(function (arroz) {%>
                                            <option value="<% arroz.id %>" <% if (plato.id_arroz == arroz.id ) { %>selected<% } %> > <% arroz.nombre %> </option>
                                        <% }) %>
                                      </select>
                                </td>
                                <td> 
                                  <select class="form-control col-sm-10" id="carne-<%= plato.id_plato_del_dia %>" name="carne-<%= plato.id_plato_del_dia %>">
                                      <% data.forEach(function (carne) {%>
                                          <option value="<% carne.id %>" <% if (plato.id_carne == carne.id ) { %>selected<% } %> > <% carne.nombre %> </option>
                                      <% }) %>
                                    </select>
                              </td>
                              <td> 
                                <select class="form-control col-sm-10" id="guarnicion-<%= plato.id_plato_del_dia %>" name="guarnicion-<%= plato.id_plato_del_dia %>">
                                    <% data.forEach(function (guarnicion) {%>
                                        <option value="<% guarnicion.id %>" <% if (plato.id_guarnicion == guarnicion.id ) { %>selected<% } %> > <% guarnicion.nombre %> </option>
                                    <% }) %>
                                  </select>
                              </td>
                              <td> 
                                <select class="form-control col-sm-10" id="ensalada-<%= plato.id_plato_del_dia %>" name="ensalada-<%= plato.id_plato_del_dia %>">
                                    <% data.forEach(function (ensalada) {%>
                                      <option value="<% ensalada.id %>" <% if (plato.id_ensalada == ensalada.id ) { %>selected<% } %> > <% ensalada.nombre %> </option>
                                    <% }) %>
                                </select>
                              </td>
                               
                              </tr>
                         <% }) %>
                       <% } %>
                      </tbody>
                    </table>
                  </div>
                  <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.templatewatch.com/" target="_blank">Templatewatch</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <script src="/vendors/base/vendor.bundle.base.js"></script>
  <script src="/scripts/off-canvas.js"></script>
  <script src="/scripts/hoverable-collapse.js"></script>
  <script src="/scripts/template.js"></script>
  <script src="/scripts/todolist.js"></script>
</body>

</html>
