<!DOCTYPE html>
<html lang="en">
<% include ../public/layouts/header.ejs %>

<body>
    <div class="container-scroller">
        <% include ../public/layouts/navbar.ejs %>
        <div class="container-fluid page-body-wrapper">
            <% include ../public/layouts/sidebar.ejs %>
            <div id="reg-menu" class="modal-container" <% if (messages.error) { %> style="display: flex;" <% } %>>
                <div class="modal">
                    <div class="modal-content">
                        <form method="POST" action="/platodeldia/register">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Añadir menú de Plato del Dia</h4>
                                    <% if (messages.error) { %>
                                    <p id="result-message" style="color:red"><%- messages.error %></p>
                                    <% } %>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="nombre">Nombre</label>
                                                <input type="text" name="nombre" class="form-control" id="nombre"
                                                    placeholder="Nombre" />
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Añadir</button>
                                    <button type="button" class="btn btn-danger"
                                        onclick="switchModal('reg-menu', 'none')">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Listado de menús del Plato del Día</h4>
                                    <% if (messages.success) { %> <p id="result-message" style="color:green">
                                    <%- messages.success %></p>
                                    <% } %>
                                    <div class="table-responsive pt-3">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="col-6">Menú de Plato del Día</th>
                                                    <th>Activo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%if (data) {%>
                                                <%data.forEach(menu => {%>
                                                <tr title="<%-menu.id_menu%>">
                                                    <td><%- menu.nombre %></td>
                                                    <td>
                                                        <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" disabled <% if (menu.activo) { %> checked <% } %>/>
                                                        </label>
                                                        </div>
                                                    </td>
                                                    <td class="image">
                                                        <a href="/platodeldia/edit/<%=menu.id_menu%>"> <img src="/images/icons/edit.svg" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <%});%>
                                                <%} else {%>
                                                <p id="result-message" style="color:red">No hay menús de Plato del Díá registrados</p>
                                                <%}%>
                                            </tbody>
                                        </table>
                                        <button type="button" class="btn btn-primary btn-sm" onclick="switchModal('reg-menu', 'flex')">Añadir menú</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
                            href="https://www.templatewatch.com/" target="_blank">Templatewatch</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                            class="ti-heart text-danger ml-1"></i></span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/vendors/base/vendor.bundle.base.js"></script>
    <script src="/scripts/off-canvas.js"></script>
    <script src="/scripts/hoverable-collapse.js"></script>
    <script src="/scripts/template.js"></script>
    <script src="/scripts/gestion_menu.js"></script>
</body>

</html>